<div class="container mt-5">
    <div class="card p-3">
        <div class="row">
            <div class="col-6">

                <form #orderForm="ngForm"
                      (ngSubmit)="orderForm.valid && createTransactionAndPlaceOrder(orderForm)" autocompleted="off">

                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>Full name</mat-label>
                        <input matInput
                               placeholder="Full name"
                               [(ngModel)]="orderDetails.fullName"
                               name="fullName"
                               required minlength="4"
                               pattern="[A-Za-z\s]+"
                              
                             #fullNameInput="ngModel" >
                             <mat-error *ngIf="fullNameInput.invalid && (fullNameInput.dirty || fullNameInput.touched)">
                                <span *ngIf="fullNameInput.errors?.required">FullName is required.</span>
                                <span *ngIf="fullNameInput.errors?.minlength">FullName must be atleast 4 characters long.</span>
                              </mat-error>
                               
                               
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>Full address</mat-label>
                        <input matInput
                               placeholder="Full address"
                               [(ngModel)]="orderDetails.fullAddress"
                               name="fullAddress"
                               required minlength="8"
                               pattern="[A-Za-z0-9\s+\-,\.]+"
                             #fullAddress="ngModel" >
                             <mat-error *ngIf="fullAddress.invalid && (fullAddress.dirty || fullAddress.touched)">
                                <span *ngIf="fullAddress.errors?.required">FullAddress is required.</span>
                                <span *ngIf="fullAddress.errors?.minlength">FullAddress must be at least 8 characters long.</span>
                              </mat-error>
                               
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>Contact number</mat-label>
                        <input matInput
                               placeholder="Contact number"
                               [(ngModel)]="orderDetails.contactNumber"
                               name="contactNumber"
                               required minlength="10"
                               pattern="[0-9]{10}"
                            #contactNumber="ngModel" >
                            <mat-error *ngIf="contactNumber.invalid && (contactNumber.dirty || contactNumber.touched)">
                               <span *ngIf="contactNumber.errors?.required">contactNumber is required.</span>
                               <span *ngIf="contactNumber.errors?.minlength">contactNumber must be 10 digits </span>
                             </mat-error>
                               
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>Alternate contact number</mat-label>
                        <input matInput
                               placeholder="Alternate contact number"
                               [(ngModel)]="orderDetails.alternateContactNumber"
                               name="alternateContactNumber"
                               required minlength="10"
                               pattern="[0-9]{10}"
                            #alternateContactNumber="ngModel" >
                            <mat-error *ngIf="alternateContactNumber.invalid && (alternateContactNumber.dirty || alternateContactNumber.touched)">
                               <span *ngIf="alternateContactNumber.errors?.required">Alternate contact number is required.</span>
                               <span *ngIf="alternateContactNumber.errors?.minlength">Alternate contact number must be  10 digits </span>
                             </mat-error>
                               
                               
                               
                    </mat-form-field>

                    <div class="align">
                        <button type="submit" mat-stroked-button color="primary">Place Order</button>
                    </div>
                </form>

            </div>
            <div class="col-6">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr *ngFor="let product of productDetails">
                            <td>{{product.productName}}</td>
                            <td>{{product.productDiscountedPrice}}</td>
                            <td>
                                <select 
                                #quantity
                                class="form-select"
                                [ngModel]="getQuantityForProduct(product.productId)"
                                (change)="onQuantityChanged(quantity.value, product.productId)"
                                >
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                {{getCalculatedTotal(product.productId, product.productDiscountedPrice)}}
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td> {{getCalculatedGrandTotal()}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>